---
import DefaultLayout from "@layouts/DefaultLayout.astro";

const homepageTitle: string = "Marcus Harbol - Software Engineer";
---

<DefaultLayout pageTitle={homepageTitle}>
    <h1>{homepageTitle}</h1>
    <img src="fish_diagram.svg" alt="" />
</DefaultLayout>
