---
import BaseLayout from "../layouts/BaseLayout.astro";

const homepageTitle: string = "Marcus Harbol - Software Engineer";
---

<BaseLayout pageTitle={homepageTitle}>
    <h1>{homepageTitle}</h1>
</BaseLayout>
