---
import NewTabLink from "../components/internal/NewTabLink.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout pageTitle="Marcus Harbol - Projects">
    <p>
        I work on projects. You can see them <NewTabLink
             href="https://github.com/mharbol?tab=repositories"
        >
            here.
        </NewTabLink>
    </p>
</DefaultLayout>
