---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout pageTitle="Marcus Harbol - Projects">
    <p>
        I work on projects. You can see them <a
            href="https://github.com/mharbol?tab=repositories"
            target="_blank"
        >
            here.
        </a>
    </p>
</DefaultLayout>
