---
import HeaderNavItem from "./HeaderNavItem.astro";
---
<div>
    <HeaderNavItem href="/">Home</HeaderNavItem>
    <HeaderNavItem href="/about/">About</HeaderNavItem>
    <HeaderNavItem href="/projects/">Projects</HeaderNavItem>
</div>
