---
import NewTabLink from "@components/internal/NewTabLink.astro";
---

<style>
    footer {
        margin-top: auto;
    }
</style>

<footer>
    <p>Follow me, follow me. Fa-la-la-la-la.</p>
    <p>View this website source: <NewTabLink href="https://github.com/mharbol/mharbol.github.io">here</NewTabLink></p>
    <p><a href="/classic/">classic</a></p>
</footer>
