---

---

<footer>
    <div class="footer">
        <p>
            View this website source: <a
                href="https://github.com/mharbol/mharbol.github.io"
                target="_blank">here</a
            >
        </p>
        <p>Check out <a href="/classic/">classic</a> mode!</p>
    </div>
</footer>

<style>
    footer {
        margin-top: auto;
        width: 100%;
        text-align: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 20px;
    }
</style>
