---
import FontHeader from "@components/FontHeader.astro";

interface Props {
    pageTitle: string;
    favicon: string;
}
const { pageTitle, favicon } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href={favicon} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <FontHeader />
        <title>{pageTitle}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
