---
import ClassicNewTabLink from "./ClassicNewTabLink.astro"
---

<style>
    footer {
        margin-top: auto;
    }
</style>

<footer>
    <p>Follow me, follow me. Fa-la-la-la-la.</p>
    <p>View this website source: <ClassicNewTabLink href="https://github.com/mharbol/mharbol.github.io">here</ClassicNewTabLink></p>
    <p><a href="/">back home</a></p>
</footer>
