---
import ClassicDefaultLayout from "@classic/ClassicDefaultLayout.astro"
---

<ClassicDefaultLayout pageTitle = "Marcus Harbol - About">
    <p>I am Marcus. This website is trash.</p>
</ClassicDefaultLayout>
