---
import ClassicNewTabLink from "@classic/ClassicNewTabLink.astro";
import ClassicDefaultLayout from "@classic/ClassicDefaultLayout.astro";
---

<ClassicDefaultLayout pageTitle="Marcus Harbol - Projects">
    <p>
        I work on projects. You can see them <ClassicNewTabLink
             href="https://github.com/mharbol?tab=repositories"
        >
            here.
        </ClassicNewTabLink>
    </p>
</ClassicDefaultLayout>
